header
    display: flex
    justify-content: center
    align-items: center
    padding: 4px 0

    p
        flex-basis: 80%
        flex-grow: 1
        flex-shrink: 1
        text-align: center
        margin: 0

    aside
        flex-basis: 20%
        flex-grow: 0
        flex-shrink: 0
        display: flex
        justify-content: flex-end
        padding: 0 8px
    
.stage
    border: 1px solid red