/* You can add global styles to this file, and also import other style files */

@import gridstack/dist/gridstack.min.css

// 上生产前注释
.grid-stack
  background: #FAFADd

.grid-stack-item-content
  text-align: center
  background-color: #cbffdf
  padding-top: 20px

