.content
    display: grid
    grid-template-areas: 'header header header' 'left main right' 'footer footer footer'
    .header
        grid-area: header
        overflow: auto
    .left
        grid-area: left
        overflow: auto
    .main
        grid-area: main
        overflow: auto
    .right
        grid-area: right
        overflow: auto
    .footer
        grid-area: footer
        overflow: auto

