.app_section {
    display: grid;
    row-gap: 12px;
    column-gap: 16px;
    grid-template-columns: repeat(4, minmax(280px, 320px));
    padding: 0 16px;
}
.app_box {
    border: 1px solid #b1b0b2;
    flex-basis: 360px;
    flex-grow: 0;
    flex-shrink: 1;
    cursor: pointer;
    padding: 8px;
}
.paragraph {
    margin: 4px;
}
.paragraph-button-box {
    display: flex;
    column-gap: 8px;
}
.header {
    background: #9ef7c3;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-box {
    margin: 0 auto;
    max-width: 1200px;
}
.logo-box {
    font-size: 22px;
    display: flex;
    align-items: center;
}
.logo {
    border-radius: 50px;
    border: 18px solid #fdfdfd;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    display: inline-block;
    margin-right: 18px;
}
.right {
    display: flex;
    column-gap: 8px;
}
.button-box {
    display: flex;
    column-gap: 8px;
    padding: 8px 16px;
    
}