.option_box
    display: flex
    justify-content: space-between
    gap: 8px
    align-items: center

    span
        flex-basis: 60px
        flex-shrink: 0
        flex-grow: 1

.button_box
    padding-left: 68px