/* You can add global styles to this file, and also import other style files */
.box
    height: calc(100vh - 16px)
    width: calc(100vw - 16px)
    padding: 0
    display: flex

    .left
        flex-basis: 70%
    .right
        flex-basis: 30%
        .header
            display: flex
            justify-content: flex-end

.welcome
    font-size: 140px
    line-height: 100%
    text-align: center